<!DOCTYPE html>
{% load static %}
<head>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.js' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Tambah Menu Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div style="padding-left:5%;padding-right:5%;">
    <div class="container" >
    <h1>Tambah Menu</h1>
    <div class="row">
        <div class="line"></div>
        <div class="col-12 form">
            {% block content %}
            <form action= "{% url 'menupage:tambah_menu' id %}" method="POST" class="post-form">
                {% csrf_token %}
                {{ menu_form.as_table }}
                {% endblock %}
            <div class="tolong">
                <button type="submit" class="save btn btn-default kirimTombolMenu">Kirim</button>
                <!-- <div class="loader">
                    <img src="{% static 'ajax-loader.gif' %}">
                </div> -->
                <a href="{% url 'menupage:menu_page' id %}"><button type = "button" class="save btn btn-default">Kembali</button>
            </div>
            </form>
        </div>
        </div>
    </div>
    </div>
    <script src="{% static 'myscript.js' %}"></script>
</body>
</html>