{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="jumbotron" style="margin-top: 10vw; margin-left: 2vw; margin-right: 2vw;background-color: white;">
        {% if user.is_authenticated %}
            <h1 class="d-flex justify-content-center">Welcome {{user.username}}</h1>
            <div class="d-flex justify-content-center">
            <a href="{% url 'login:logout_url' %}">Logout</a>
        {% else %}
                <h1 class="d-flex justify-content-center">Welcome to Cozzee</h1>
                <div class="d-flex justify-content-center">
                <a class="mr-5" href="{% url 'login:login_url' %}">Login</a>
                <a href="{% url 'login:register_url' %}">Register</a>
        {% endif %}
    </div>
    </div>
{% endblock %}