<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<title>Simple Auth System</title>
{% block content %}
    <div class="jumbotron" style="margin-top: 10vw; margin-left: 2vw; margin-right: 2vw;background-color: white;">
        <h1>Masuk</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button>LOGIN</button>
    </div>
{% endblock %}