{% extends "base.html" %} {% block content %}
{% load static %}
<input type='text' id="search" placeholder="   Cari kedai kopi kesukaanmu....">
<div class="row my-5 tabelToko">
    {%for kedai in kedai %}
  <div class="col-sm d-flex justify-content-center py-2">
    <div class="card" style="width: 18rem;">
      <a href="{% url 'landingpage:toko' id=kedai.id %}"
        ><img
          src="{{ kedai.foto_url }}"
          class="card-img-top"
          alt="Telegram Coffee"
          style="height: 200px;"
      /></a>
      <div class="card-body">
        <p class="card-text">
          {{kedai.nama}}
        </p>
      </div>
    </div>
    {% endfor %}
  </div>
<div>

{% endblock %}
