{% load static %}
<head>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.js' %}">
    <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Tambah Menu Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div style="padding-left:5%;padding-right:5%;">
    <div class="container" >
    <h1>Tambah Kedai</h1>
    <div class="row">
        <div class="line"></div>
        <div class="col-12 form">
            {% block content %}
            <form class="formBuatToko" action="" method="POST">
            <table>
                {% csrf_token %}
                {{ form.as_table }}
                {% endblock %}
            </table>
            <div class="tolong">
                <input type="submit" value="Kirim" name="tombol" class="save btn btn-default buatToko">
                <!-- <a href="{% url 'landingpage:index' %}"><button type="submit" class="save btn btn-default buatToko">Kirim</button></a> -->
                <a href="{% url 'landingpage:index' %}"><button type = "button" class="save btn btn-default">Kembali</button></a>
            </div>
            </form>
        </div>
    </div>
    </div>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>