body {
  background: #efe9db;
}

.bg-custom {
  background-color: #a89985;
  border-color: #e7e7e7;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #354449;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #354449;
  transition: 0.3s all ease;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active,
.navbar-custom .nav-item:hover {
  color: #ffffff;
  transition: 0.3s all ease;
}

.body {
  background-color:#EFE9DB;
  font-family: Quattrocento;
  min-height: 625px;
  margin-top: 2vw;
}
.bodyKomen{
  background-color:#EFE9DB;
  font-family: Quattrocento;
  min-height: 0px;
  margin-top: 2vw;
}
/* body {
  background: linear-gradient(180deg, #9AD1C7 0%, rgba(255, 255, 255, 0) 100%), #CECECE;
  min-height: 625px;
} */

.tombol {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn{
  width: 100px;
  margin-right: 10px;
  margin-left: 10px;
}

#bgform{
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0%;
}

#kotakagenda{
  width: 34rem;
  margin: 2%;
  padding: 1%;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
  text-align: center;
}
.foto{
  border-radius: 50%;
  width: 10vw;
  height: auto;
  padding: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#namakegiatan{
  color: #583213;
  font-size: 2.8vw;
  font-weight: bold;
}
.col-md-2 {
  text-align: center;
}
/* hr {
  border: 1px solid #D09780;
} */
ul{
  list-style-type: none;
  display: inline;
}
li{
  display: inline;
}
.rating{
  font-size: 1.2vw;
  margin-right: 2vw;
  margin-left: 2vw;
}
.isiK{
  font-size: 2vw;
  min-height: 4vw;
  font-weight: normal;
}
/* .btn:hover{
  background-color: #583213;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */
/* .btn{
  background-color: #D09780;
} */
#kotakagenda::before {
  content: "";
  position: relative;
  top: 0px;
  right: 0px;
  left: 40px;
  width: 0px;
  height: 0px;
  border: 5px solid #fff;
  border-left-color: transparent;
  border-bottom-color: transparent;
}
#id_fieldJudulKomen, #id_fieldIsiKomen{
  font-size: 2vw;
  color: black;
  height: auto;
  /* width: 27vw; */
  background: none;
  border: none;
  border-bottom: 1px solid black;
}
#id_fieldRatingR,#id_fieldRatingS,#id_fieldRatingP,#id_fieldJudulKomen, #id_fieldIsiKomen{
  margin-left: 4vw;
  margin-bottom: 1.5vh;
}
#id_fieldRatingP{
  margin-bottom: 1.5vh;
}
.tolong{
  margin-top: 3vh;
  text-align: center;
}
#search{
  width: 35%;
  height: 35px;
  margin-left: 67%;
  border-radius: 5px;
  border: 0;
  margin-bottom: 3%;
  background-color: #fff;
  color: black;
}

.save{
  border: 1px solid #000000;
  width: 10vw;
  text-align: center;
  font-size: 1.5vw;
  box-shadow: 0px 0px 0px #00000040;
  margin: 0;
  padding: 0;
}


#tombolcari{
  width: 7vw;
  text-align: center;
  font-size: 1.5vw;
  border: 0;
  box-shadow: 0px 4px 4px #00000040;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  background-color: rgba(168, 153, 133, 1);
  
}

