{% extends "toko.html" %}
{% block content %}
{% load static %}
    <div class="bodyKomen">
        <div class='container-fluid row' id='bgform'>
            <h5>RASA: {{countR}}</h5>
            <h5>SUASANA: {{countS}}</h5>
            <h5>PELAYANAN: {{countP}}</h5>
            <h5>RATA-RATA: {{rataTotal}}</h5>
            <div class="daftarKomen">
            {% for x in komen %}
                <div class="col-md-2">
                    <img src="{% static 'images/fotoKomen.png' %}" alt="" class="foto">
                </div>
                <div class="glyphicon glyphicon-triangle-left"></div>
                <div class='col-md-9' id='kotakagenda'>
                    <h3 id="namakegiatan">{{x.fieldJudulKomen}}</h3>
                    <hr>
                    <h5 class="isiK">{{x.fieldIsiKomen}}</h5>
                    <hr>
                    <ul class="list-inline">
                        <li class="list-inline-item"><h5 class="rating">Rating Rasa            :{{x.fieldRatingR}}</h5></li>
                        <li class="list-inline-item"><h5 class="rating">Rating Rasa            :{{x.fieldRatingS}}</h5></li>
                        <li class="list-inline-item"><h5 class="rating">Rating Rasa            :{{x.fieldRatingP}}</h5></li>
                    </ul>
                </div>
                {% endfor %}   
            </div>
        </div>
        <div class="container-fluid tombol">
            <a href="/indexComment/"><button class="btn btn-danger" type="submit">Create</button></a>
            <a href="/delete/"><button class="btn btn-danger" type="submit">Delete</button></a>
        </div>
        
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    </div>

    {% endblock %}