<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="jumbotron" style="margin-top: 10vw; margin-left: 2vw; margin-right: 2vw;background-color: white;">
        <h1 class="d-flex justify-content-center">Selamat Datang, {{user.username}}</h1>
        <a class="d-flex justify-content-center" href="{% url 'logout_url' %}">Logout</a>
    </div>
{% endblock %}