html{
    padding: 0;
    margin: 0;
}
textarea {
    width : 100%;
    background: #EFEDED;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.loader{
    display:none;
}
body {
    background-color:#EFE9DB;
    font-family: Quattrocento;
    margin-top: 2vw;
}
h1 {
    position: absolute;
    font-family: Quattrocento;
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    color: #354449;
}
.line {
    position: absolute;
    width: 83vw;
    height: 3px;
    top: 9vw;
    background: #D09780;
}
.form{
    margin-top: 10vw;
}
button, input {
    width: 89%;
    padding: 0.5vw;
    margin: 1vw;
    margin-left: 1vw;
    background: #EFEDED;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
#id_Masukkan_Foto_Menu{
    width: 80%;
}
label{
    padding: 0;
    margin: 0;
}
.tolong{
    text-align: right;
    margin-right: 2vw;
}
.save{
    border: 1px solid #000000;
    width: 10vw;
    text-align: center;
    font-size: 1.5vw;
    box-shadow: 0px 0px 0px #00000040;
    margin: 0;
    padding: 0;
}
#search{
    width: 35%;
    height: 35px;
    margin-left: 67%;
    border-radius: 5px;
    border: 0;
    margin-bottom: 3%;
    background-color: #fff;
    color: black;
}

#tombolcari{
    width: 7vw;
    text-align: center;
    font-size: 1.5vw;
    border: 0;
    box-shadow: 0px 4px 4px #00000040;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background-color: rgba(168, 153, 133, 1);
    
}
/* .save:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */
