/* *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100vw;
  height: 100vh;
  background: coral;
  display: flex;
  justify-content: center;
  align-items: center;
} */

h1{
  font-family: 'Lato', sans-serif;
}







